.left_highlight{
    float: left;
    width:405px;
    padding-right:20px;
}

.right_highlight{
    float:right;
    width:450px;
    margin-top:25px;
}

.range_calendar{
    margin-top: 20px;
}

.range_calendar .range_left, .range_calendar .range_right{
   background: url("/images/calendar_back.png") 0 0 no-repeat transparent;
    display: inline-block;
    width:108px;
    height:29px;
    cursor: pointer;
}

.range_calendar .range_middle{
    display: inline-block;
    line-height: 29px;
    height: 29px;
    color: #b6c0cd;
    position: relative;
    top: -10px;
}